%h1 Available_coach

= link_to 'Cristina Aguilera'
%br
= link_to 'Natalia Lafourcade'
%br
= link_to 'Shakira'
%br
= link_to 'Paulina Rubio'
%br
= link_to 'Alejandra Guzmán'
%br
%br

= link_to 'Back', available_coaches_path
